<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>サンプル掲示板</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="js/index.js"></script>
</head>
<body>

<header class="Area_header">サンプル掲示板</header>

<div th:class="'alert ' + *{alert_class}" role="alert"
     th:id="flash-message" th:if="${message}" th:text="${message}"></div>

<div class="Area_register">
    <form th:action="@{/}" th:method="post" th:object="${articleRequest}">
        <table border="1"  class="Area_register_table">
            <tr>
                <td class="heading">名前</td>
                <td class="body">
                    <input type="text" name="name" size="50" th:value="*{name}" >
                    <div th:if="${#fields.hasErrors('name')}"
                         class="alert-error" th:errors="*{name}"></div>
                </td>
            </tr>
            <tr>
                <td class="heading">題名</td>
                <td class="body">
                    <input type="text" name="title" size="50" th:value="*{title}" >
                    <div th:if="${#fields.hasErrors('title')}"
                         class="alert-error" th:errors="*{title}"></div>
                </td>
            </tr>
            <tr>
                <td class="heading">内容</td>
                <td class="body">
                <textarea name="contents" rows="6" cols="65"
                          maxlength="500" th:text="*{contents}"></textarea>
                    <div th:if="${#fields.hasErrors('contents')}"
                         class="alert-error" th:errors="*{contents}"></div>

                    投稿KEY：<input type="password" name="articleKey" maxlength="4">
                    <div th:if="${#fields.hasErrors('articleKey')}"
                         class="alert-error" th:errors="*{articleKey}"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">送信</button>
                    <button type="reset">リセット</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="border_line"></div>

<div class="Area_articles"
     th:each="article:${page}" th:object="${article}">
    <div>

        <table border="1" class="Area_articles_table">
            <tr class="Area_article_title">
                <td>
                    <label>
                        <input type="radio"
                               name="article_check"
                               onclick="scrollToAreaChangeArticle()"
                               th:data-id="*{id}"
                               th:text="*{id} + '.　'
                                 + *{title}"
                        />
                    </label>
                </td>
            </tr>
            <tr>
                <td th:text="'名前：' + *{name} + '　投稿日：'
                         + ${#dates.format(article.registerAt,
                           'yyyy/MM/dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <td>
                    <pre th:text="*{contents}"></pre>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:if="${page.totalPages}" class="Area_pager">

    <div class="border_line"></div>

    <ul>
        <li th:class="${page.first} ? 'disabled' : ''">
            <span th:if="${page.first}">＜＜</span>
            <a th:if="${not page.first}" th:href="@{${url}(page=0)}">＜＜</a>
        </li>
        <li th:class="${page.first} ? 'disabled' : ''">
            <span th:if="${page.first}">＜</span>
            <a th:if="${not page.first}"
               th:href="@{${url}(page=(${page.number}-1))}">＜</a>
        </li>
        <li th:class="${page.last} ? 'disabled' : ''">
            <span th:if="${page.last}">＞</span>
            <a th:if="${not page.last}"
               th:href="@{${url}(page=(${page.number}+1))}">＞</a>
        </li>
        <li th:class="${page.last} ? 'disabled' : ''">
            <span th:if="${page.last}">＞＞</span>
            <a th:if="${not page.last}"
               th:href="@{${url}(page=(${page.totalPages}-1))}">＞＞</a>
        </li>
    </ul>

    <div><span th:text="${page.number+1} + '/'
     + ${page.totalPages} + 'ページ'">1/3</span></div>

    <div class="border_line"></div>

</div>

<div class="Area_change_article">
    <form th:action="@{/}" th:method="get" name="form_change_article">
        <button type="button"
                onclick="changeArticleSubmit('update')">編集</button>
        <button type="button"
                onclick="changeArticleSubmit('delete')">削除</button>
    </form>
</div>

</body>
</html>