<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>サンプル掲示板</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="js/index.js"></script>
</head>
<body>

<header class="Area_header">
    <div class="Area_header_menu">
        <a href="/user/index">ユーザーログイン</a>　<a href="/admin/index">管理者モード</a>
    </div>
    サンプル掲示板
</header>

<div th:class="'alert ' + *{alert_class}" role="alert"
     th:id="flash-message" th:if="${message}" th:text="${message}"></div>

<span th:replace="fragments/article_register :: fragment-article-register"></span>

<div class="border_line"></div>

<span th:replace="fragments/articles :: fragment-articles"></span>

<span th:replace="fragments/paging :: fragment-article-paging"></span>

<div class="Area_change_article">
    <form th:action="@{/}" th:method="get" name="form_change_article">
        <button type="button"
                onclick="changeArticleSubmit('update')">編集</button>
        <button type="button"
                onclick="changeArticleSubmit('delete')">削除</button>
    </form>
</div>

</body>
</html>